@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-font: black;
  --second-font: #5d5d5d;
  --tertiary-font: #d2d2d2;
  --bg-color: hsl(49 37% 94%);
  --typewriterSpeed: 1s;
  --typewriterCharacters: 26;
}

/* 
* {
    border-color: green; // for reference, delete
    border-width: 1px; // for reference, delete
    border-style: solid; // for reference, delete
}
*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
  overflow-x: hidden;
}

.container {
  width: 100%;
  position: relative;
}

.container .main {
  position: absolute;
  width: calc(100% - 300px);
  min-height: 100vh;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.container .main .header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 301px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 30px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  -webkit-transition: width .5s;
  transition: width .5s;
  background-color: white;
}

.container .main .header .logo {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--second-font);
  font-size: 1.2em;
  letter-spacing: .8px;
}

.container .main .header .hamburger-menu:hover {
  cursor: pointer;
}

.container .navigation {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0px;
  width: 300px;
  height: 100%;
  text-align: right;
  overflow: hidden;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  z-index: 999;
}

.container .navigation ul {
  position: relative;
  top: 0;
  display: block;
  width: 100%;
  right: 0;
  padding: 20px 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--second-font);
}

.container .navigation ul li {
  list-style-type: none;
  width: 100%;
  position: relative;
  padding: 1.5em 0em;
}

.container .navigation ul li:hover {
  font-weight: bold;
}

.container .navigation ul li a {
  text-decoration: none;
  color: inherit;
}

.main.active {
  width: 100%;
}

.main .header.active {
  width: 100%;
}

.navigation.active {
  width: 0;
}

section {
  position: relative;
  min-height: 100vh;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.home .content .text {
  font-size: 2em;
  position: relative;
  text-align: right;
}

.home .content .text h1 {
  position: relative;
}

.home .content .text h1:before, .home .content .text h1:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home .content .text h1:before {
  background: white;
  -webkit-animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
          animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.home .content .text h1:after {
  width: 0.125em;
  background: black;
  -webkit-animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 1s steps(var(--typewriterCharacters)) infinite;
          animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 1s steps(var(--typewriterCharacters)) infinite;
}

.home .content .text p {
  color: var(--second-font);
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  -webkit-animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1.3s) forwards;
          animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1.3s) forwards;
}

.home .content .image {
  position: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transform: translateX(3rem);
          transform: translateX(3rem);
  -webkit-animation: fadeInLeft 2s ease var(--typewriterSpeed) forwards;
          animation: fadeInLeft 2s ease var(--typewriterSpeed) forwards;
}

.home .content .image .profile-img {
  max-width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.home .btn {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  border-radius: 7px;
  color: white;
  background: var(--second-font);
  padding: 10px 30px;
  letter-spacing: 1px;
  bottom: 350px;
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  -webkit-animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1.8s) forwards;
          animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1.8s) forwards;
}

.home .btn:hover {
  cursor: pointer;
  background-color: var(--primary-font);
}

.home .social-media {
  position: absolute;
  bottom: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: space-between;
  position: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  -webkit-transform: translateY(1.5rem);
          transform: translateY(1.5rem);
  -webkit-animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2.1s) forwards;
          animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2.1s) forwards;
}

.home .social-media a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 50px;
}

.home .social-media a img {
  background: var(--tertiary-font);
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
  height: 40px;
  width: 40px;
}

.home .social-media a img:hover {
  background-color: var(--second-font);
}

@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@-webkit-keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@-webkit-keyframes fadeInUp {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeInLeft {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.about {
  position: relative;
  min-height: 100vh;
  padding: 0px 40px;
  padding-top: 50px;
}

.about .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.about .about-me-text {
  color: var(--second-font);
}

.technologies {
  position: relative;
  min-height: 100vh;
  padding: 0px 40px;
  padding-top: 50px;
}

.technologies .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.technologies .about-me-text {
  color: var(--second-font);
}

.projects {
  position: relative;
  min-height: 100vh;
  padding: 0px 40px;
  padding-top: 50px;
}

.projects .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.projects .about-me-text {
  color: var(--second-font);
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 0px 40px;
  padding-top: 50px;
}

.contact .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.contact .about-me-text {
  color: var(--second-font);
}

.container-form {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-form .form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 90%;
  height: 700px;
  border-radius: 20px;
  z-index: 99999;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  /*
.social-media {
        // list-style-type: none;
        position: absolute; 
        bottom: 250px;
        display: flex; 

        width: 400px;
        justify-content: center;
        align-items: center;
        place-content: space-between;
        // border: black 1px solid;
        position: flex;
        align-items: center;
        justify-content: center;


        opacity: 0;
        transform: translateY(1.5rem);
        animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2.1s) forwards;

        a {
            // border: black 1px solid;
            display: flex; 
            margin: 0px 50px;
            img {
                background: var(--tertiary-font);
                border-radius: 7px;
                // border: black 1px solid;
                padding: 10px;
                margin: 10px;
                height: 40px;
                width: 40px;

                &:hover {
                    background-color: var(--second-font);
                }
            }
        }

    }
*/
}

.container-form .form .left {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3)[1fr];
      grid-template-columns: repeat(1fr, 3);
  padding: 20px 30px;
  /*
            .footer {
                margin-top: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border: black 1px solid;
                place-content: space-between;
                img {
                    height: 40px;
                    width: 40px;
                }
            }
            */
}

.container-form .form .left h1 {
  font-size: 3em;
  text-align: left;
  margin-bottom: 0;
}

.container-form .form .left p {
  margin-top: 40px;
  font-size: 1.5em;
  margin-bottom: 0;
  height: 300px;
}

.container-form .form .left .basic-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 1.2em;
  color: var(--second-font);
}

.container-form .form .right {
  background: var(--second-font);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-form .form .right:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 70px;
  left: -20px;
  background-color: var(--second-font);
}

.container-form .form .right form {
  position: relative;
  width: 90%;
  height: 90%;
  color: white;
  padding: 0px 20px;
}

.container-form .form .right form .focus label {
  position: absolute;
  left: 55px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.1em;
  pointer-events: none;
  z-index: 999;
}

.container-form .form .right form .focus span:before, .container-form .form .right form .focus span:after {
  width: 70%;
  opacity: 1;
}

.container-form .form .right form h1 {
  margin-bottom: 30px;
  margin-top: -5px;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.container-form .form .right form label {
  position: absolute;
  left: 42px;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.container-form .form .right form span {
  position: absolute;
  left: 55px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.1em;
  pointer-events: none;
  color: transparent;
}

.container-form .form .right form span:before, .container-form .form .right form span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  height: 6px;
  background-color: var(--second-font);
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container-form .form .right form span:before {
  left: 50%;
}

.container-form .form .right form span:after {
  right: 50%;
}

.container-form .form .right form .form-group {
  width: 100%;
  margin: 20px 0px;
}

.container-form .form .right form .form-group input, .container-form .form .right form .form-group textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 99%;
  border-radius: 20px;
  background: transparent;
  color: white;
  border: white 2px solid;
  padding: 10px 20px;
}

.container-form .form .right form .form-group input:focus, .container-form .form .right form .form-group textarea:focus {
  outline: none;
}

.container-form .form .right form .form-group input {
  height: 40px;
}

.container-form .form .right form .form-group textarea {
  resize: none;
  overflow-y: auto;
  height: 160px;
}

.container-form .form .right form button {
  color: var(--second-font);
  padding: 10px 40px;
  font-size: larger;
  border-radius: 20px;
  border: white 2px solid;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.container-form .form .right form button:hover {
  background: transparent;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
/*# sourceMappingURL=main.css.map */